NEXTAUTH_URL=http://localhost:3000
GEMINI_API_KEY=AIzaSyAdFi2Sj5qfFlZcXCIafBi-d85CrZw6pC4
SUPABASE_URL=https://uvqqrajmyghfxuboohff.supabase.co
SUPABASE_ANON=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2cXFyYWpteWdoZnh1Ym9vaGZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ1NzQzMzUsImV4cCI6MjA4MDE1MDMzNX0.MgkHQg6eeZW-SA_Uce7B0jW4yOXq2PUhQpfkTC2kLFk

git add .
git commit -m "bug fix 1"
git push
